@{
    ViewBag.Title = ViewBag.Title ?? "HoLibz";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
            outline: 0;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        body {
            font-size: 100%;
        }
    </style>
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
</head>

<body>
    <!---------------------------- navbar ---------------------------->
    <vc:nav-bar-component />
    <!-------------------------------------------------------->
    @RenderBody()
    <!-------------------------------------------------------->
    <!-------------------------------------------------------->
</body>

</html>