
button#myBtn{
    padding-bottom: 6px;
}
button#myBtn.open{
    background-color: var(--mat-sys-primary-container);
}

button#myBtn mat-icon{
    position: relative;
    top: 6px;
    transition: all 100ms;
}
button#myBtn.open mat-icon{
    rotate: 90deg;
}