mat-sidenav{
    width: 340px;
    border-right: 1px solid var(--mat-sys-outline-variant);
    border-radius: 0;
    padding-right: 10px;
    padding-top: 10px;
}
@media screen and (max-width:700px) {
    mat-sidenav{
        display: none;
    }
}

mat-sidenav-content{
    padding: 8px;
}

.top-box{
    padding: 16px;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    box-shadow: 0 1px 5px var(--mat-sys-outline-variant);
}

.top-box .topBtn{
    margin: 8px;
    float: right;
}

.list{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    width: 100%;
    padding: 8px 0;
}

app-library-card{
    margin: 8px;
}