<h1 style="color: red; text-align: center; height: 50px; background-color: yellow; padding: 6px;">
    Access Denied
</h1>
<style>
    #aaaeac1d0412845af9342f834ab4f644e {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<a id="aaaeac1d0412845af9342f834ab4f644e" href="/">
    Home
</a>