@model Identity_UserModel
<!------------------- full height animated sidebar --------------------->
<div style="position: relative;" class="clearfix">
    <div>
        <style>
            #sidenav016fc1163e3943f085f070c4b03924ec {
                height: 100%;
                width: 0;
                position: fixed;
                /*fixed*/
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                padding-top: 60px;
                transition: 0.5s;
            }

            #sidenav016fc1163e3943f085f070c4b03924ec.open {
                width: 200px;
            }

            #sidenav016fc1163e3943f085f070c4b03924ec a {
                padding: 8px 8px 8px 10px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;
                text-wrap: nowrap;
            }

            #sidenav016fc1163e3943f085f070c4b03924ec a:hover {
                color: #f1f1f1;
            }

            #sidenav016fc1163e3943f085f070c4b03924ec .closebtn {
                font-size: 36px;
                text-align: right;
                margin: 0px 10px 0px 0px;
            }

            @@media screen and (max-width: 450px) {
                #sidenav016fc1163e3943f085f070c4b03924ec {
                    padding-top: 15px;
                }

                #sidenav016fc1163e3943f085f070c4b03924ec a {
                    font-size: 16px;
                }

                #sidenav016fc1163e3943f085f070c4b03924ec .closebtn {
                    font-size: 25px;
                    margin: 30px 10px 0px 0px;
                }

                #sidenav016fc1163e3943f085f070c4b03924ec.open {
                    width: 150px;
                }
            }
        </style>

        <div id="sidenav016fc1163e3943f085f070c4b03924ec" class="open">
            <a href="javascript:void(0)" class="closebtn"
                onclick="closeNav_sidenav016fc1163e3943f085f070c4b03924ec()">×</a>
            <a asp-action="Profile" asp-route-username="@User.Identity?.Name"><i class="fa-regular fa-address-card"></i>
                Profile</a>
            @if (User.IsInRole("Identity_Admins"))
            {
                <a asp-action="UsersList" asp-controller="Identity">
                    <i class="fa-solid fa-list-ul"></i> Users List
                </a>
                <a asp-action="RolesList" asp-controller="Identity">
                    <i class="fa-solid fa-list-check"></i> Roles List
                </a>
            }
            @if (User.IsInRole("WebComponents_Admins"))
            {
                <a asp-controller="Tags" asp-action="TagList">
                    <i class="fa-solid fa-hashtag"></i> Tags
                </a>
                <a asp-controller="WebComponents" asp-action="Backup">
                    <i class="fa-solid fa-database"></i> WebComponents Backup
                </a>
            }
        </div>
        <p style="font-size:30px;cursor:pointer;width:fit-content;margin: 10px 0"
            onclick="openNav_sidenav016fc1163e3943f085f070c4b03924ec()">
            ☰ Menu
        </p>

        <script>
            function openNav_sidenav016fc1163e3943f085f070c4b03924ec() {
                document.getElementById("sidenav016fc1163e3943f085f070c4b03924ec").classList.add("open");
                document.getElementById("main-div").classList.add("shrink");
            }

            function closeNav_sidenav016fc1163e3943f085f070c4b03924ec() {
                document.getElementById("sidenav016fc1163e3943f085f070c4b03924ec").classList.remove("open");
                document.getElementById("main-div").classList.remove("shrink");
            }
        </script>
        <!-------------------------------------------------------------------->
    </div>
    <div id="main-div" class="shrink">
        <style>
            #main-div {
                float: right;
                width: 100%;
                transition: 0.5s;
            }

            #main-div.shrink {
                width: calc(100% - 200px);
            }

            @@media screen and (max-width: 450px) {
                #main-div.shrink {
                    width: calc(100% - 150px);
                }
            }
        </style>
        <!------------------------- Email Validation ------------------------->
        @if (!Model.EmailConfirmed)
        {
            <partial name="EmailVerification" />
        }
        <!-------------------------------------------------------------------->
    </div>
</div>