@model Identity_UserModel
@{
    ViewBag.HasShowcase = ViewBag.HasShowcase ?? false;
}
<!----------------------------------------------->
<!----------------------------------------------------------------->
<style>
    #card7724cc1dd56c415ba1884d5626e55d9e {
        padding: 20px;
        width: 90%;
        height: fit-content;
        margin: auto;
        background-color: white;
        position: relative;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info {
        width: 50%;
        float: left;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
        display: inline-block;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .username {
        display: inline-block;
        margin: 10px 10px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info pre.about-me {
        text-wrap: wrap;
        line-height: 180%;
        display: inline-block;
        margin: 0;
        font-size: 14px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .brief-info {
        padding: 10px 0;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .buttons-container {
        padding: 10px 0;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .buttons-container button {
        border: 1px solid lightgray;
        border-radius: 30px;
        background-color: rgba(0, 0, 0, 0);
        padding: 15px 30px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        color: rgb(50, 50, 50);
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .buttons-container button:hover {
        border-color: gray;
        color: black;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .showcase-div {
        width: 45%;
        height: 100%;
        float: right;
        overflow: hidden;
        text-align: center;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .showcase-div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        max-height: 80vh;
        border-radius: 20px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e .profile-info .email-container p {
        float: left;
        font-size: 18px;
        margin: 0;
        margin-right: 5px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e i {
        font-size: 18px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e label.choose-file-label {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        display: block;
        width: fit-content;
        margin: auto;
        border-radius: 30px;
    }

    #card7724cc1dd56c415ba1884d5626e55d9e label.choose-file-label:hover {
        background-color: #06c981;
    }

    @@media screen and (max-width:1000px) {
        #card7724cc1dd56c415ba1884d5626e55d9e {
            width: 100%;
        }
    }

    @@media screen and (max-width:600px) {
        #card7724cc1dd56c415ba1884d5626e55d9e .profile-info {
            width: 100%;
        }

        #card7724cc1dd56c415ba1884d5626e55d9e .showcase-div {
            display: none;
        }
    }
</style>
<div id="card7724cc1dd56c415ba1884d5626e55d9e" class="clearfix">
    <div class="profile-info">
        <div>
            <img src="/Identity/UserImage?username=@Model.UserName" alt="User Profile Image">
        </div>
        <div>
            <h1 class="username">@Model.UserName</h1>
        </div>
        <div style="padding: 10px 0;" class="clearfix">
            <pre class="about-me">@Model.Description</pre>
        </div>
        @if (Model.DisplayEmail)
        {
            <div class="email-container clearfix">
                <p><i class="fa-regular fa-envelope"></i> Email:</p>
                <p class="email-address">@Model.Email</p>
            </div>
        }
        <div class="brief-info clearfix">
            <style>
                #m0d316c320a804d939c5afcaf15609f36 {
                    font-family: Arial, Helvetica, sans-serif;
                }

                /* Float four columns side by side */
                #m0d316c320a804d939c5afcaf15609f36 .column {
                    float: left;
                    width: 25%;
                    padding: 0 5px;
                }

                #m0d316c320a804d939c5afcaf15609f36 .column a {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }

                #m0d316c320a804d939c5afcaf15609f36 .column a:hover .card {
                    /*display: block;*/
                    /*background-color: rgb(3, 3, 3);*/
                    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.7);
                }

                #m0d316c320a804d939c5afcaf15609f36 .row {
                    margin: 0 -5px;
                }

                /* Responsive columns */
                @@media screen and (max-width: 800px) {
                    #m0d316c320a804d939c5afcaf15609f36 .column {
                        width: 80%;
                        display: block;
                        margin: 10px auto;
                        float: none;
                    }
                }

                /* Style the counter cards */
                #m0d316c320a804d939c5afcaf15609f36 .card {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                    padding: 5px;
                    text-align: center;
                    background-color: #444;
                    color: white;
                    border-radius: 5px;
                }

                #m0d316c320a804d939c5afcaf15609f36 .fa {
                    font-size: 30px;
                }
            </style>
            <div id="m0d316c320a804d939c5afcaf15609f36">
                <div class="row clearfix">

                    <div class="column">
                        <a asp-controller="Identity" asp-action="Profile" asp-route-username="@Model.UserName"
                            asp-fragment="projects-header">
                            <div class="card">
                                <p><i class="fa fa-check"></i></p>
                                <h3>Proj.No.</h3>
                                <p>Projects</p>
                            </div>
                        </a>
                    </div>

                    <!--div class="column">
                        <div class="card">
                            <p><i class="fa fa-smile"></i></p>
                            <h3>Model.LikesNumber</h3>
                            <p>Likes</p>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
    </div>
    <div class="showcase-div clearfix">
        <img src="/Identity/ClientShowcase?username=@Model.UserName" alt="User Profile Showcase">
        @if (!ViewBag.HasShowcase)
        {
            <span style="font-size: 14px;">
                Photo by <a
                    href="https://unsplash.com/@@fazurrehman?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Faizur Rehman
                </a> on <a
                    href="https://unsplash.com/photos/person-holding-black-ipad-with-green-plant-dJpupM4LiS4?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
                    Unsplash</a>
            </span>
        }
    </div>
</div>
@if (!Model.EmailConfirmed)
{
    <!--------------- verification code ----------------->
    <div>
        Your email address has not verified yet!
        <p>We have already sent a code to your registered email address. Please enter the code below and click on
            the Confirm button.</p>
        <div>
            <style>
                /* Style the form - display items horizontally */
                #form14c17562f8904c278828d921d8495bea .form-inline {
                    display: flex;
                    flex-direction: row;
                    /*flex-flow: row wrap;*/
                    align-items: center;
                    justify-content: center;
                }

                /* Add some margins for each label */
                #form14c17562f8904c278828d921d8495bea .form-inline label {
                    margin: 5px 5px 5px 0;
                }

                /* Style the input fields */
                #form14c17562f8904c278828d921d8495bea .form-inline input {
                    vertical-align: middle;
                    margin: 5px 10px 5px 0;
                    padding: 5px;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    font-size: 16px;
                    letter-spacing: 1px;
                }

                /* Style the submit button */
                #form14c17562f8904c278828d921d8495bea .form-inline button {
                    padding: 10px 15px;
                    background-color: dodgerblue;
                    border: 1px solid #ddd;
                    color: white;
                    cursor: pointer;
                }

                #form14c17562f8904c278828d921d8495bea .form-inline button:hover {
                    background-color: royalblue;
                }

                /* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
                @@media screen and (max-width: 600px) {
                    #form14c17562f8904c278828d921d8495bea .form-inline input {
                        margin: 10px 0;
                    }

                    #form14c17562f8904c278828d921d8495bea .form-inline {
                        flex-direction: column;
                        align-items: stretch;
                    }
                }
            </style>

            <div id="form14c17562f8904c278828d921d8495bea">
                <form class="form-inline" asp-controller="Identity" asp-action="ConfirmEmail" method="get">
                    <label for="vc">Verification Code:</label>
                    <input type="text" placeholder="Enter code here.." name="vc">
                    <button type="submit">Confirm</button>
                </form>
            </div>
        </div>
        <p>Or if you haven't got the code? <a asp-controller="Identity" asp-action="SendEmailValidationCode">resend code</a>
        </p>
    </div>
}

<!---------------------------- messages ---------------------------->