mat-card{
    margin: 24px;
    /*position: relative;*/
    width: 100%;
}

mat-card-header img{
    border-radius: 50%;
    overflow: hidden;
}

/*#edit-mode-btn{
    position: absolute;
    top: 0;
    right: 0;
}*/

mat-icon#shelf-logo{
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
}