:host{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: 1;
}
mat-spinner{
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}