/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
html{
    scroll-behavior: smooth;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    padding-top: 56px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/************ custom scrollbar *************/
/* Apply to the entire application */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--mat-sys-surface);
}

::-webkit-scrollbar-thumb {
  background: var(--mat-sys-outline-variant);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mat-sys-outline);
}

/************** expansion panel **************/
div.mat-expansion-panel-body{
  padding: 0 8px;
}

/*************** mat-form-field *******************/
mat-form-field{
    min-height: 80px;
}
