mat-card{
    width: 80%;
    max-width: 800px;
    min-width: 350px;
    margin: 16px auto 8px;
    position: relative;
}

img#user-profile-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

mat-card-title{
    margin: 16px 0;
}

button.edit-btn{
    position: absolute;
}

mat-card-content{
    position: relative;
}

#userAccountManager-link{
    position: absolute;
    top: 0;
    right: 0;
}

.top-box{
    padding: 16px 0;
    border-bottom: 1px solid var(--mat-sys-outline-variant);
    box-shadow: 0 1px 5px var(--mat-sys-outline-variant);
    width: 80%;
    max-width: 800px;
    min-width: 350px;
    margin: 0 auto 8px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.verticalDivider{
    border: 1px solid var(--mat-sys-outline-variant);
    height: 56px;
    float: left;
}

.icon-box{
    width: 56px;
    height: 56px;
    float: left;
    margin: 0 8px;
    border-radius: 50%;
    padding: 0;
}

.icon-box:hover{
    background-color: var(--mat-sys-primary-container);
}

.icon-box mat-icon{
    width: 56px;
    height: 56px;
    font-size: 32px;
    text-align: center;
    position: relative;
    top: 14px;
    float: left;
}