mat-dialog-content{
    max-height: 95vh;
    position: relative;
}
@media screen and (max-width:800px) {
    mat-dialog-content{
        max-height: 80vh;
    }
}
img{
    display: block;
    width: fit-content;
    height: fit-content;
    margin: auto;
    object-fit: contain;
}
div.buttons-box{
    float: right;
    position: sticky;
    top: 0;
    right: 0;
    left: calc(100% - 40px);
    width: 40px;
    /*overflow: hidden;*/
}