mat-sidenav{
    width: 240px;
    border-right: 1px solid var(--mat-sys-outline-variant);
    border-radius: 0;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 10px;
}
@media screen and (max-width:700px) {
    mat-sidenav{
        display: none;
    }
}
mat-sidenav-content{
    position: relative;
}

img.userProfileImage{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: contain;
}

.small-form-field {
    height: 56px;
    min-height: 0;
    width: 100%;
}
.small-form-field mat-label{
    font-size: 12px;
}
.small-form-field input{
    font-size: 12px;
}
::ng-deep .small-form-field .mdc-text-field,
::ng-deep .small-form-field .mat-mdc-form-field-hint-wrapper{
    padding: 0 8px;
}

.small-label{
    display: block;
    font-size: 12px;
    margin-top: 4px;
}

mat-radio-button{
    font-size: 12px;
    display: block;
}
::ng-deep label.mdc-label{
    cursor: pointer;
}